<a href="{% if user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'login' %}{% endif %}" class="block">
<div
  class="bg-white dark:bg-gray-700 p-4 sm:p-6 rounded-xl shadow transform transition duration-300 hover:scale-105 text-center"
>
  <div class="flex justify-center mb-3 sm:mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-8 w-8 sm:h-10 sm:w-10 text-indigo-600"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M20 7l-8-4-8 4v6l8 4 8-4V7z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 7l8 4 8-4"
      />
    </svg>
  </div>
  <h3 class="text-lg sm:text-xl font-bold mb-1 sm:mb-2 font-josefin">3D Моделиране</h3>
  <p class="text-sm sm:text-base text-gray-700 dark:text-gray-300 font-quicksand">
    Създаваме 3D модели по ваша идея или чертеж.
  </p>
</div>
</a>