

<div
  class="bg-white dark:bg-gray-700 p-6 rounded-xl shadow transform transition duration-500 hover:scale-105 "
>
  <div class="flex justify-center mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-10 w-10 text-indigo-600"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M20 7l-8-4-8 4v6l8 4 8-4V7z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 7l8 4 8-4"
      />
    </svg>
  </div>
  <h3 class="text-xl font-bold mb-2">3D Моделиране</h3>
  <p>Създаваме 3D модели по ваша идея или чертеж.</p>
</div>
