<div
  class="bg-white dark:bg-gray-700 p-6 rounded-xl shadow transform transition duration-500 hover:scale-105 "
>
  <div class="flex justify-center mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-10 w-10 text-indigo-600"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 10V3L4 14h7v7l9-11h-7z"
      />
    </svg>
  </div>
  <h3 class="text-xl font-bold mb-2">Консултации</h3>
  <p>Помагаме с избор на технологии, материали и дизайн.</p>
</div>
