{% extends "base.html" %}
{% load i18n %}


{% block title %}{%trans 'Забравена парола'%} | 3D Print Studio{% endblock %}

{% block content %}
<section class="flex justify-center items-center min-h-[80vh] bg-white dark:bg-gray-900 px-4">
  <div class="w-full max-w-md bg-gray-50 dark:bg-gray-800 p-8 rounded-xl shadow-md">
    <h2 class="text-2xl font-bold text-center text-gray-800 dark:text-white mb-6">{%trans 'Забравена парола'%}
      </h2>

    <form method="POST" class="space-y-4">
      {% csrf_token %}
      
      <div>
        <label for="id_email" class="block text-sm text-gray-600 dark:text-gray-300 mb-1">{%trans 'Имейл'%}</label>
        <input type="email" name="email" id="id_email" required placeholder="Въведи имейл"
               class="w-full px-4 py-2 border rounded-lg dark:bg-gray-700 dark:text-white dark:border-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>

      <button type="submit"
              class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition">
              {%trans 'Изпрати линк'%}
      </button>
    </form>
  </div>
</section>
{% endblock %}
