{% extends "base.html" %}

{% block content %}
<div class="login-wrapper">
  <div class="login-card">
    <h2>Задай нова парола</h2>

    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_new_password1">Нова парола</label>
        <input type="password" name="new_password1" id="id_new_password1" required>
      </div>

      <div class="form-group">
        <label for="id_new_password2">Потвърди новата парола</label>
        <input type="password" name="new_password2" id="id_new_password2" required>
      </div>

      <button type="submit" class="btn">Запази паролата</button>
    </form>
  </div>
</div>
{% endblock %}
